.no-padding {
  padding: 0!important;
}

.margin-top-10{
  margin-top: 10px;
}

.padding-top-10{
  padding-top: 10px;
}
.padding-top-15 {
  padding-top:15px;
  padding-left: 0;
}
.padding-left-3 {
  padding-left: 3%;
}

.negative-margin-bottom-20{
  margin-bottom: -20px;
}

.margin-right-10{
  margin-right: 10px;
}

.text-align-center {
  text-align: center;
}

.text-align-right{
  text-align: right;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-2{
  margin-bottom: 2px;
}

.negative-margin-bottom-8 {
  margin-bottom: -8px;
}

.font-size-20{
  font-size: 20px;
}

.margin-left-7{
  margin-left: 7px;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-right {
  justify-content: right!important;
}

.margin-bottom-6{
  margin-bottom: 6px;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.padding-top-bot-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.display-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.light-border {
  border: rgba(0, 0, 0, 0.12) solid 1px;
}

.padding-10 {
  padding: 10px!important;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-left-10 {
  padding-left: 10px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center!important;
}

.align-self-center {
  align-self: center !important;
}

.align-items-stretch {
  align-items: stretch;
}

.mt-half-rem {
  margin-top: 0.5rem;
}

.mb-half-rem {
  margin-bottom: 0.5rem;
}

.mb-1-rem {
  margin-bottom: 1rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.min-width-8 {
  min-width: 8rem;
}

.min-width-4 {
  min-width: 4rem;
}

.min-width-3 {
  min-width: 3rem;
}

.height-30 {
  height: 30rem;
}
/** end generic styles */
